:root {
    --navy-color: #273469;
    --snow-color: #FFFFFF;
    --yellow-color: #E1BC29;
    --black-color: #000000;
}

* {
    /*remove margins and padding for all elements on my page*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--snow-color);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--black-color);
    text-shadow: 0 0 10 rgba(0, 0, 0, 1);
    position: sticky;
    flex-wrap: wrap;
}

header nav {
    width: 70%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 10px 20px;
}

header nav ul a {
    text-decoration: none;
    color: var(--snow-color);
}

header nav ul a:hover {
    text-decoration: none;
    color: var(--yellow-color);
}

header h1 {
    color: var(--snow-color);
}

/* hero img banner */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/profile.jpg");

    height: 500px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    width: 100%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: White;
}

.hero-text p {
    margin: 50px, 0, 0, 0;
}

#about-me {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.aboutme-title h1 {
    width: 100%;
    font-size: 38px;
    text-align: right;
}

.aboutme-border {
    border-bottom: 2px solid black;
}

.aboutme-text {
    width: 60%;
    text-align: center;
}

/*About Me End*/

.section-list {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

/*My Work*/
#my-work {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.mywork-title h1 {
    width: 100%;
    font-size: 38px;
    text-align: right;
}

.mywork-title {
    border-bottom: 2px solid;
}

.work-list {
    width: 60%;
}

.previous-projects1 {
    display: block;
    width: 100%;
    height: 200px;
    border: solid;
    background-image: url("../images/flipped-hero-image.jpg");
    background-size: cover;
}

.work-new-line {
    display: flex;
    justify-content: space-between;
}

.previous-projects2 {
    width: 49%;
    height: 200px;
    border-style: solid;
    margin-top: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/expenses.jpg");
    background-size: cover;
}

.previous-projects2 h2, .previous-projects2 h4 {
    color: white;
}

.previous-projects3 {
    width: 49%;
    height: 200px;
    border-style: solid;
    margin-top: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/banking.jpg");
    background-size: cover;
}

.previous-projects3 h2, .previous-projects3 h4 {
    color: white;
}